@font-face {
    font-family: 'HYImpact-Regular';
    src: url('font/HYImpact-Regular.ttf') format('truetype');
}

body {
    font-family: 'HYImpact-Regular', sans-serif;
    margin: 0;
    padding: 0;
    background-color: pink;
}

* {
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(0.5vw);
    border-radius: 0.5vw;
}

.logo {
    font-size: 2vw;
    color: rgb(68, 60, 60);
    cursor: default;
    border-radius: 0.5vw;
    background-color: white;
    padding: 0.5vw;
}

span {
    color: orange;
}

.navigation {
    display: flex;
    align-items: center;
    z-index: 1000;
}

.navigation a {
    font-size: 1.2vw;
    color: rgb(68, 60, 60);
    text-decoration: none;
    margin-right: 0.5vw;
    font-weight: 500;
    transition: 0.3s;
    z-index: 1000;
}

.tombol-download {
    font-size: 1.2vw;
    color: white;
    text-decoration: none;
    padding: 0.2vw 0.8vw;
    background: orange;
    border-radius: 0.3vw;
    border: 0.1vw solid orange;
    font-weight: 500;
    transition: 0.3s;
    z-index: 1000;
}

.tombol-download:hover {
    color: orange;
    background: transparent;
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url('background.jpg');
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
    align-items: center;
    padding: 2vh 2vw;
    overflow: hidden;
    z-index: 1;
}

.content {
    max-width: 80vw;
    width: 100%;
    color: rgb(68, 60, 60);
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

.content h2,
.content h4,
.content p {
    position: relative;
    z-index: 2;
}

.grup-tombol {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
    position: relative;
    z-index: 2;
}

.grup-tombol a {
    font-size: 1.2vw;
    color: white;
    text-decoration: none;
    padding: 0.2vw 0.8vw;
    background: orange;
    border-radius: 0.3vw;
    border: 0.1vw solid orange;
    font-weight: 500;
    transition: 0.3s;
    margin-right: 0.3vw;
    z-index: 1000;
}

.grup-tombol a:last-child {
    margin-right: 0;
}

.grup-tombol a:hover {
    color: orange;
    background: transparent;
}

.sosmed {
    position: fixed;
    bottom: 2vh;
    left: 2vw;
    margin: 0.5vh;
    z-index: 1000;
}

.sosmed a {
    display: inline-block;
    width: 1.5vw;
    height: 1.5vw;
    background: transparent;
    border-radius: 50%;
    margin-right: 0.3vw;
    text-align: center;
    line-height: 1.5vw;
    outline: 0.1vw solid orange;
    transition: 0.3s;
}

.sosmed a:hover {
    transform: translateY(-0.1vw);
}

.sosmed a i {
    font-size: 0.7vw;
}

/* Thêm media query để điều chỉnh kích thước và khoảng cách cho màn hình nhỏ hơn */
@media (max-width: 768px) {
    header {
        padding: 1.5vw;
    }

    .logo {
        font-size: 2vw;
        padding: 0.5vw;
    }

    .navigation a,
    .tombol-download,
    .grup-tombol a,
    .sosmed a {
        font-size: 1vw;
        padding: 0.1vw 0.5vw;
        margin-right: 0.2vw;
        width: 1vw;
        height: 1vw;
        line-height: 1vw;
        border-radius: 0.2vw;
        outline: 0.05vw solid orange;
    }

    .home {
        padding: 2vh 2vw;
    }

    .content {
        max-width: 80vw;
    }
}
